#entry-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241,241,241);
    background: -moz-linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(217,217,217,1) 49%);
    background: -webkit-linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(217,217,217,1) 49%);
    background: linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(217,217,217,1) 49%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f1f1",endColorstr="#d9d9d9",GradientType=1); 
    transition: all .5s ease;
    -webkit-transition: all 1s ease;
    backdrop-filter: blur(40px);
}

#entry-screen img {
    width: 30%;
}

.hideEntry {
    margin-top: -5vh !important;
    opacity: 0;
    pointer-events: none;
}