.girlsclub-individual-page {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,207,225,1) 50%, rgba(217,217,217,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,207,225,1) 50%, rgba(217,217,217,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,207,225,1) 50%, rgba(217,217,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#d9d9d9",GradientType=1);
}

.girlsclub-individual-page .hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.girlsclub-individual-page .hero .left-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    font-family: 'Hemi Head';
    text-transform: uppercase;
    padding-left: 20rem;
}

.girlsclub-individual-page .hero .left-column h1 {
    font-size: 4em;
    margin-bottom: 0;
}

.girlsclub-individual-page .hero .left-column ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 1rem;
}

.girlsclub-individual-page .hero .left-column ul > li {
    font-size: 2em;
    opacity: 0.9;
}

.girlsclub-individual-page .hero .left-column h2 {
    text-transform: lowercase;
    opacity: 0.9;
}

.girlsclub-individual-page .hero .right-column {
    display: flex;
    width: 50%;
}

.girlsclub-individual-page .hero .right-column img {
    object-fit: contain;
    width: 100%;
}

.girlsclub-individual-page .hero .right-column .models-widget-icon {
    max-height: 100px;
    max-width: 100px;
    align-self: flex-end;
}

.girlsclub-individual-page .model-collage {
    height: auto;
    width: 90vw;
    margin: 0 auto;
}

.girlsclub-individual-page .model-collage h1 {
    position: sticky;
    top: 15vh;
    left: 0;
    font-family: 'Hemi Head';
    text-transform: uppercase;
}

.girlsclub-individual-page .model-collage .collage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}

.girlsclub-individual-page .model-collage .collage img {
    min-width: 30%;
    width: 400px;
    object-fit: contain;
    cursor: pointer;
}

.girlsclub-individual-page .model-collage .collage video {
    min-width: 30%;
    width: 500px;
    object-fit: contain;
    cursor: pointer;
}