.header {
    position: fixed;
    top: 0;
    display: flex;
    width: 96vw;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    background-color: transparent;
}

.header .left-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.header h1 {
    font-size: larger;
    text-transform: uppercase;
    font-weight: lighter;
    cursor: pointer;
    transition: all .3s ease;
}

.header h1:hover {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .left-column img {
    width: 60%;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .header {
        width: fit-content;
    }
}