.girlsclub-intown-page {
    height: 100%;
    width: 100vw;
    margin-top: 15vh;
    font-family: 'Hemi Head';
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,207,225,1) 50%, rgba(217,217,217,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,207,225,1) 50%, rgba(217,217,217,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,207,225,1) 50%, rgba(217,217,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#d9d9d9",GradientType=1);
}

.girlsclub-intown-page .title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: first baseline;
    width: 80vw;
    margin: 0 auto;
}

.girlsclub-intown-page .title-row .column-one {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-transform: uppercase;
    max-width: 600px;
    width: 60vw;
}

.girlsclub-intown-page .title-row .column-one ul {
    position: absolute;
    margin-left: 25rem;
    list-style: none;
}

.girlsclub-intown-page .title-row .column-one ul a {
    font-size: xx-large;
}

.girlsclub-intown-page .title-row .column-one ul li {
    transition: all .3s ease;
}

.girlsclub-intown-page .title-row .column-one ul li:hover {
    opacity: 0.6;
}

.girlsclub-intown-page .title-row .column-one ul li.hide {
    opacity: 0;
    pointer-events: none;
    margin-top: -.5rem;
}


.girlsclub-intown-page .title-row .column-one h1 {
    font-size: 4em;
    margin: 0;
}

.girlsclub-intown-page .title-row .column-one h2 {
    font-size: 2em;
}

.girlsclub-intown-page .models-grid {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    gap: 50px;
    justify-content: center;
}

.girlsclub-intown-page .models-grid.two-count {
    width: 60vw;
}

.girlsclub-intown-page .models-grid.two-count .model-cell {
    max-width: 40%;
}


.girlsclub-intown-page .models-grid.one-count {
    width: 40vw;
}

.girlsclub-intown-page .models-grid.one-count .model-cell {
    max-width: 100%;
}

.girlsclub-intown-page .models-grid .model-cell {
    max-width: 30%;
    text-align: center;
}

.girlsclub-intown-page .models-grid .model-cell img {
    width: 100%;
    object-fit: contain;
}

.girlsclub-intown-page .models-grid .model-cell h2 {
    width: 100%;
    text-transform: uppercase;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    
    .girlsclub-intown-page .title-row {
        
        flex-direction: column;
        justify-content: space-between;
        align-items: first baseline;
        width: 80vw;
        margin: 0 auto;
        padding-bottom: 1rem;
    }
    .girlsclub-intown-page .title-row .column-one {
  
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        text-transform: uppercase;
        max-width: 600px;
        width: 60vw;
    }
    .girlsclub-intown-page .models-grid .model-cell {
        max-width: 100%;
        text-align: center;
       
    }

}