footer {
    height: 60px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h3 {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}