@font-face {
    font-family: 'Hemi Head';
    src: url(./Assets/Fonts/hemi_head.otf);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,207,225,1) 50%, rgba(217,217,217,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,207,225,1) 50%, rgba(217,217,217,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,207,225,1) 50%, rgba(217,217,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#d9d9d9",GradientType=1);
}

* {
    user-select: none;
}

.header {
    font-family: 'Hemi Head';
}

.navigation {
    font-family: 'Hemi Head';
}

.copyrights {
    font-family: 'Hemi Head';
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

button, h2, h3 {
    font-family: 'Hemi Head';
}

.kr {
    letter-spacing: -2px;
}