@font-face {
    font-family: 'Hemi Head';
    src: url(./Assets/Fonts/hemi_head.otf);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
}

* {
    user-select: none;
}

.filler {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    position: relative;
}

.filler.hide {
    display: none;
}

.header {
    font-family: 'Hemi Head';
}

.navigation {
    font-family: 'Hemi Head';
}

.copyrights {
    font-family: 'Hemi Head';
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

button, h2, h3 {
    font-family: 'Hemi Head';
}

.kr {
    letter-spacing: -2px;
}

.animate-left {
    margin-left: 0 !important;
    opacity: 1 !important;
}

.animate-right {
    margin-right: 0 !important;
    opacity: 1 !important;
}