.boysSquad-outoftown-page {
    height: 100%;
    width: 100vw;
    margin-top: 15vh;
    font-family: 'Hemi Head';
}

.boysSquad-outoftown-page .title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: first baseline;
    width: 80vw;
    margin: 0 auto;
}

.boysSquad-outoftown-page .title-row .column-one {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-transform: uppercase;
    max-width: 600px;
    width: 60vw;
}

.boysSquad-outoftown-page .title-row .column-one ul {
    position: absolute;
    margin-left: 25rem;
    list-style: none;
}

.boysSquad-outoftown-page .title-row .column-one ul a {
    font-size: xx-large;
}

.boysSquad-outoftown-page .title-row .column-one ul li {
    transition: all .3s ease;
}

.boysSquad-outoftown-page .title-row .column-one ul li.hide {
    opacity: 0;
    pointer-events: none;
    margin-top: -.5rem;
}

.boysSquad-outoftown-page .title-row .column-one h1 {
    font-size: 4em;
    margin: 0;
}

.boysSquad-outoftown-page .title-row .column-one h2 {
    font-size: 2em;
}

.boysSquad-outoftown-page .models-grid {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    gap: 50px;
}

.boysSquad-outoftown-page .models-grid .model-cell {
    max-width: 30%;
    text-align: center;
}

.boysSquad-outoftown-page .models-grid .model-cell img {
    width: 100%;
    object-fit: contain;
}

.boysSquad-outoftown-page .models-grid .model-cell h2 {
    width: 100%;
    text-transform: uppercase;
}